<!-- Sidebar/menu -->

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:40px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:40px" id="showcase">
    <div align ="center"> <h1 class="w3-jumbo"><b>The Hacking Project</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Qui êtes vous?</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
        </div>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="https://www.w3schools.com/w3images/team2.jpg" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>Etudiant</h3>
          <p class="w3-opacity">...et curieux</p>
          <p>The Hacking Project est un boot camp sélectif en peer learning qui vous donnera suffisaement de compétences pour réaliser n'importe quel site internet.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="https://www.w3schools.com/w3images/team1.jpg" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>Chef d'entreprise</h3>
          <p class="w3-opacity">...et malin</p>
          <p>The Hacking Project vous permettra de devenir indépendant de coûteuses agences Web en vous formant rapidement vous ou un de vos collaborateurs.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="https://www.w3schools.com/w3images/team3.jpg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>Investisseurs</h3>
          <p class="w3-opacity">...et stratège</p>
          <p>Accompagnez les meilleurs développeurs de demain dès leur apprentissage, et devenez partenaire premium de THP.</p>
        </div>
      </div>
    </div>
  </div>

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right"><a href="../respect">Notre Charte</a> - Powered by <a href="https://www.w3schools.comhttps://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>
  </body>
</html>
