<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>The Hacking Project: Bootcamp Rails</title>
    <link rel="canonical" href="https://thp-spam-tib.herokuapp.com/" />
    <meta property="og:url" content="https://thp-spam-tib.herokuapp.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="The Haking Project: bootcamp Rails" />
    <meta property="og:description" content="Apprenez à coder en rails en 3 mois" />
    <meta property="og:image" content="http://www.sumatra.fr/files/2018/02/back.jpg" />
    <meta name="twitter:card" content="Apprenez à coder en rails en 3 mois" />
    <meta name="twitter:site" content="https://thp-spam-tib.herokuapp.com/" />
    <meta name="twitter:creator" content="@thehackingproject" />
    <meta property="og:url" content="http://bits.blogs.nytimes.com/2011/12/08/a-twitter-for-my-sister/" />
    <meta property="og:title" content="The Haking Project: bootcamp Rails" />
    <meta property="og:description" content="Apprenez à coder en rails en 3 mois" />
    <meta property="og:image" content="http://www.sumatra.fr/files/2018/02/back.jpg" />
    <meta charset="UTF-8">
    <meta name="description" content="The Hacking Project propose une formation RAILS enpeer learning, 12 semaines intenses mais qui vous garantissent une grande autonomie et fournissent les clés d'un métier d'avenir." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114581360-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114581360-1');
    </script>
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/04e535ead7c921a1d6aeaa075/d6706bf34ffd8ad02f9c6a238.js");</script>
  </head>
  <body>

<div class="w3-main" style="margin-top:-40px; padding:0; background-image: url(http://www.sumatra.fr/files/2018/02/back.jpg);background-size:cover;">

  <!-- Header -->
  <div class="w3-container" style="margin-top:40px" id="showcase">
    <div align ="center"> <h1 class="w3-jumbo" style="color:white;"><b>The Hacking Project</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Qui êtes vous?</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
        </div>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3">
        <a href="https://thp-spam-tib.herokuapp.com/etudiant"><img src="http://www.sumatra.fr/files/2018/02/etudiant.jpg" alt="Etudiant Marseille" style="width:100%"></a>
        <div class="w3-container">
          <h3>Etudiant</h3>
          <p class="w3-opacity">...et curieux</p>
          <p>The Hacking Project est un boot camp sélectif en peer learning qui vous donnera suffisament de compétences pour réaliser n'importe quel site internet.<a href="https://thp-spam-tib.herokuapp.com/etudiant">Go!</a></p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3">
        <a href="https://thp-spam-tib.herokuapp.com/pro"><img src="http://www.sumatra.fr/files/2018/02/gerant.jpg" alt="Gérant Marseille" style="width:100%"></a>
        <div class="w3-container">
          <h3>Chef d'entreprise</h3>
          <p class="w3-opacity">...et malin</p>
          <p>The Hacking Project vous permettra de devenir indépendant de coûteuses agences Web en vous formant rapidement vous ou un de vos collaborateurs.<a href="https://thp-spam-tib.herokuapp.com/pro">Go!</a></p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3">
        <img src="http://www.sumatra.fr/files/2018/02/business-angel.jpg" alt="Business Angel Marseille" style="width:100%"></a>
        <div class="w3-container">
        <div class="w3-container">
          <h3>Investisseurs</h3>
          <p class="w3-opacity">...et stratège</p>
          <p><a href="https://thp-spam-tib.herokuapp.com/invest">Accompagnez les meilleurs développeurs de demain dès leur apprentissage, et devenez partenaire premium de THP.<a href="https://thp-spam-tib.herokuapp.com/invest">Go!</a></p>
        </div>
      </div>
    </div>
  </div>

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right"><a href="../respect">Notre Charte</a> - Powered by <a href="https://www.w3schools.comhttps://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>
  </body>
</html>
