<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Formation Rails en entreprise à Marseille : The Hacking Project</title>
    <link rel="canonical" href="https://thp-spam-tib.herokuapp.com/pro" />
    <meta property="og:url" content="https://thp-spam-tib.herokuapp.com/pro" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Formation Rails Etudiant" />
    <meta property="og:description" content="Chef d'entreprsie : prenez votre envol et gérez vous même ou en interne votre projet web de A à Z. Formation complète!" />
    <meta property="og:image" content="http://www.sumatra.fr/files/2018/02/gerant.jpg" />
    <meta name="twitter:card" content="Formation Rails en entreprise en bootcamp de 3 mois" />
    <meta name="twitter:site" content="https://thp-spam-tib.herokuapp.com/pro" />
    <meta name="twitter:creator" content="@thehackingproject" />
    <meta property="og:url" content="https://thp-spam-tib.herokuapp.com/pro" />
    <meta property="og:title" content="Formation Rails en entreprise : The Hacking Project" />
    <meta property="og:description" content="Apprenez à coder en rails en 3 mois" />
    <meta property="og:image" content="http://www.sumatra.fr/files/2018/02/gerant.jpg" />
    <meta charset="UTF-8">
    <meta name="description" content="The Hacking Project propose aux étudiants une formation RAILS de 12 semaines en peer learning" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114581360-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114581360-1');
    </script>
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/04e535ead7c921a1d6aeaa075/d6706bf34ffd8ad02f9c6a238.js");</script>
  </head>
  <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12&appId=2083935241893526&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Formation RAILS<br>à Marseille</b></h3>


  </div>
  <div class="w3-bar-block">
    <a href="#programme" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Programme</a>
    <a href="#prix" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Tarifs</a>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
    <a href="../" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Accueil</a>
  </div>
<div style="margin-left:15px;">
  <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
  <script type="IN/Share" data-url="https://www.linkedin.com/company/the-hacking-project"></script>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">&#9776;</a>
  <span>The Hacking Project</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <div align ="center"><img src="https://www.thehackingproject.org/assets/thp-logo-5f2f06c9444205a88123ca1de74646970e5a1dfb03698d02db33e5e62a60d6cd.png"/>
    <h1 class="w3-jumbo"><b>The Hacking Project</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>La liberté 12 semaines.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

        </div>
  </div>

  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
    <div class="w3">
      <img src="http://www.sumatra.fr/files/2018/02/gerant.jpg" style="width:100%" onclick="onClick(this)" alt="Formation Code Etudiant">
        </div>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- Designers -->
  <div class="w3-container" id="programme" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Programme</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Le programme du Bootcamp est très complet</p>
    <p>En 10 semaines, vous ou vos salariés seront en mesure de réaliser un site aussi complexe qu'une boutique en ligne.</p>
    <p><b>Toutes les semaines, des projets validants et des corrections</b>seront au menu, afin de progresser en groupe
    selon la méthode du peer learning, avec d'autres professionels.Vous en terminerez donc avec cette agence qui ne répond plus, cette mise à jour demandée il y a deux mois ... et les coûts délirants qui sont souvent pratiqués.</p>
    <p>Les deux dernières semaines, optionelles, seront consacrées au projet internet de votre entreprise sous l'égide d'un mentor qui permettra d'aboutir à un résultat au delà de vos attentes.</p>
    <p>Et tout cela pour une fraction du prix d'un site internet complet! Vous laissez une caution de 500€HT qui n'est prélevée qu'en cas d'arrêt de la formation. </p>
    <p>Si vous décidez d'utiliser les services d'un mentor, il vous accompagnera pendant 6 mois et garatiera le bon déroulement du projet et sa pérénité.</p>
  </div>

  <!-- Packages / Pricing Tables -->
  <div class="w3-container" id="prix" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Tarifs.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

  <div class="w3-row-padding">
    <div class="w3-half w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-red w3-xlarge w3-padding-32">Formation de base</li>
        <li class="w3-padding-16">Accès aux ressources</li>
        <li class="w3-padding-16">Travail de groupe</li>
        <li class="w3-padding-16">Correction et rendu</li>
        <li class="w3-padding-16">Accès aux ateliers</li>
        <li class="w3-padding-16">
          <h2>500 €HT</h2>
          <span class="w3-opacity">prélevés en cas d'échec</span>
        </li>
      </ul>
    </div>

    <div class="w3-half">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-red w3-xlarge w3-padding-32">Mentor pour votre projet</li>
        <li class="w3-padding-16">Définition du cahier des charges</li>
        <li class="w3-padding-16">Supervision du travail</li>
        <li class="w3-padding-16">Debugage du projet</li>
        <li class="w3-padding-16">Maintenance 6 mois</li>
        <li class="w3-padding-16">
          <h2>3000 €HT</h2>
          <span class="w3-opacity">étalés sur 6 mois</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- Contact -->
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Nous Contacter.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="https://sumatra.us3.list-manage.com/subscribe/post?u=04e535ead7c921a1d6aeaa075&amp;id=883ecf1b78" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
    	<h2>Ne loupez pas la prochaine session</h2>
    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
    <div class="mc-field-group">
    	<label for="mce-EMAIL">Courriel  <span class="asterisk">*</span>
    </label>
    	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div class="mc-field-group">
    	<label for="mce-LNAME">Nom </label>
    	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
    </div>
    <div class="mc-field-group size1of2">
    	<label for="mce-PHONE">Téléphone </label>
    	<input type="text" name="PHONE" class="" value="" id="mce-PHONE">
    </div>
    <div class="mc-field-group">
    	<label for="mce-MMERGE1">Comment nous avez vous connu  <span class="asterisk">*</span>
    </label>
    	<select name="MMERGE1" class="required" id="mce-MMERGE1">
    	<option value=""></option>
    	<option value="Google">Google</option>
    <option value="Presse">Presse</option>
    <option value="Réseaux Sociaux">Réseaux Sociaux</option>

    	</select>
    </div>
        	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_04e535ead7c921a1d6aeaa075_883ecf1b78" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='PHONE';ftypes[4]='phone';fnames[1]='MMERGE1';ftypes[1]='dropdown'; /*
     * Translated default messages for the $ validation plugin.
     * Locale: FR
     */
    $.extend($.validator.messages, {
            required: "Ce champ est requis.",
            remote: "Veuillez remplir ce champ pour continuer.",
            email: "Veuillez entrer une adresse email valide.",
            url: "Veuillez entrer une URL valide.",
            date: "Veuillez entrer une date valide.",
            dateISO: "Veuillez entrer une date valide (ISO).",
            number: "Veuillez entrer un nombre valide.",
            digits: "Veuillez entrer (seulement) une valeur numérique.",
            creditcard: "Veuillez entrer un numéro de carte de crédit valide.",
            equalTo: "Veuillez entrer une nouvelle fois la même valeur.",
            accept: "Veuillez entrer une valeur avec une extension valide.",
            maxlength: $.validator.format("Veuillez ne pas entrer plus de {0} caractères."),
            minlength: $.validator.format("Veuillez entrer au moins {0} caractères."),
            rangelength: $.validator.format("Veuillez entrer entre {0} et {1} caractères."),
            range: $.validator.format("Veuillez entrer une valeur entre {0} et {1}."),
            max: $.validator.format("Veuillez entrer une valeur inférieure ou égale à {0}."),
            min: $.validator.format("Veuillez entrer une valeur supérieure ou égale à {0}.")
    });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->


  </div>

</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right"><a href="../respect">Notre Charte</a> - Powered by <a href="https://www.w3schools.comhttps://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>
  </body>
</html>
