<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Formation Rails Etudiant à Marseille : The Hacking Project</title>
    <link rel="canonical" href="https://thp-spam-tib.herokuapp.com/etudiant" />
    <meta property="og:url" content="https://thp-spam-tib.herokuapp.com/etudiant" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Formation Rails Etudiant" />
    <meta property="og:description" content="Etudiants : apprenez à coder en rails en 3 mois et trouver du travail" />
    <meta property="og:image" content="http://www.sumatra.fr/files/2018/02/etudiant.jpg" />
    <meta name="twitter:card" content="Formation Rails Etudiant en bootcamp de 3 mois" />
    <meta name="twitter:site" content="https://thp-spam-tib.herokuapp.com/" />
    <meta name="twitter:creator" content="@thehackingproject" />
    <meta property="og:url" content="https://thp-spam-tib.herokuapp.com/etudiant" />
    <meta property="og:title" content="Formation Rails Etudiant : The Hacking Project" />
    <meta property="og:description" content="Apprenez à coder en rails en 3 mois" />
    <meta property="og:image" content="http://www.sumatra.fr/files/2018/02/etudiant.jpg" />
    <meta charset="UTF-8">
    <meta name="description" content="The Hacking Project propose aux étudiants une formation RAILS de 12 semaines en peer learning" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114581360-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114581360-1');
    </script>
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/04e535ead7c921a1d6aeaa075/d6706bf34ffd8ad02f9c6a238.js");</script>
  </head>
  <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12&appId=2083935241893526&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Formation RAILS<br>à Marseille</b></h3>


  </div>
  <div class="w3-bar-block">
    <a href="#programme" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Programme</a>
    <a href="#prix" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Tarifs</a>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
    <a href="../" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Accueil</a>
  </div>
<div style="margin-left:15px;">
<div class="fb-share-button" data-href="https://www.facebook.com/THPMarseille/" data-layout="box_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FTHPMarseille%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>
</div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">&#9776;</a>
  <span>The Hacking Project</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <div align ="center"><img src="https://www.thehackingproject.org/assets/thp-logo-5f2f06c9444205a88123ca1de74646970e5a1dfb03698d02db33e5e62a60d6cd.png"/>
    <h1 class="w3-jumbo"><b>The Hacking Project</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Un job en 12 semaines.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

        </div>
  </div>

  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
    <div class="w3">
      <img src="http://www.sumatra.fr/files/2018/02/etudiant.jpg" style="width:100%" onclick="onClick(this)" alt="Formation Code Etudiant">
        </div>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- Designers -->
  <div class="w3-container" id="programme" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Programme</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Le programme est très complet.</p>
    <p>Au fil des semaines vous apprendrez les bases de Ruby, du HTML et du CSS avant de plonger dans Ruby on Rails.</p>
    <p><b>Toutes les semaines, des projets validants et des corrections</b>seront au menu, afin de progresser en groupe
    selon la méthode du peer learning. Convivial, efficace, mais avec un taux de réussite de 40%: cette formation n'est pas à prendre à la légère. Elle est sélective et vous ouvrira de nombreuses portes au niveau professionel. Et humain.</p>
    <p>Les deux dernières semaines sont sanctionnées par une tâche finale qui sera pitchée devant des professionels. Rien que ça.</p>
    <p>Tout ce qu'il faut pour t'inscrire, c'est laisser 200€ de caution, remboursés si tu arrives au bout de THP. Et c'est tout. Boum.</p>
  </div>

  <!-- Packages / Pricing Tables -->
  <div class="w3-container" id="prix" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>La douloureuse.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

  <div class="w3-row-padding">
    <div class="w3-half w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-red w3-xlarge w3-padding-32">C'est trop dur</li>
        <li class="w3-padding-16">Accès aux ressources</li>
        <li class="w3-padding-16">Travail de groupe</li>
        <li class="w3-padding-16">Correction et rendu</li>
        <li class="w3-padding-16">Accès aux ateliers</li>
        <li class="w3-padding-16">Tu décide d'arrêter</li>
        <li class="w3-padding-16">
          <h2>200 €</h2>
          <span class="w3-opacity">caution prélevée</span>
        </li>
      </ul>
    </div>

    <div class="w3-half">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-red w3-xlarge w3-padding-32">Tranquilou !</li>
        <li class="w3-padding-16">Accès aux ressources</li>
        <li class="w3-padding-16">Travail de groupe</li>
        <li class="w3-padding-16">Correction et rendu</li>
        <li class="w3-padding-16">Accès aux ateliers</li>
        <li class="w3-padding-16">Tu décide d'arrêter</li>
        <li class="w3-padding-16">
          <h2>0 €</h2>
          <span class="w3-opacity">caution remboursée !</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- Contact -->
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Nous suivre.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Pour nous suivre, vous avez différents moyens: la newsletter ou les réseaux sociaux</p>

    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="https://sumatra.us3.list-manage.com/subscribe/post?u=04e535ead7c921a1d6aeaa075&amp;id=883ecf1b78" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
    	<h2>Ne loupez pas la prochaine session</h2>
    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
    <div class="mc-field-group">
    	<label for="mce-EMAIL">Courriel  <span class="asterisk">*</span>
    </label>
    	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div class="mc-field-group">
    	<label for="mce-LNAME">Nom </label>
    	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
    </div>
    <div class="mc-field-group size1of2">
    	<label for="mce-PHONE">Téléphone </label>
    	<input type="text" name="PHONE" class="" value="" id="mce-PHONE">
    </div>
    <div class="mc-field-group">
    	<label for="mce-MMERGE1">Comment nous avez vous connu  <span class="asterisk">*</span>
    </label>
    	<select name="MMERGE1" class="required" id="mce-MMERGE1">
    	<option value=""></option>
    	<option value="Google">Google</option>
    <option value="Presse">Presse</option>
    <option value="Réseaux Sociaux">Réseaux Sociaux</option>

    	</select>
    </div>
        	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_04e535ead7c921a1d6aeaa075_883ecf1b78" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='PHONE';ftypes[4]='phone';fnames[1]='MMERGE1';ftypes[1]='dropdown'; /*
     * Translated default messages for the $ validation plugin.
     * Locale: FR
     */
    $.extend($.validator.messages, {
            required: "Ce champ est requis.",
            remote: "Veuillez remplir ce champ pour continuer.",
            email: "Veuillez entrer une adresse email valide.",
            url: "Veuillez entrer une URL valide.",
            date: "Veuillez entrer une date valide.",
            dateISO: "Veuillez entrer une date valide (ISO).",
            number: "Veuillez entrer un nombre valide.",
            digits: "Veuillez entrer (seulement) une valeur numérique.",
            creditcard: "Veuillez entrer un numéro de carte de crédit valide.",
            equalTo: "Veuillez entrer une nouvelle fois la même valeur.",
            accept: "Veuillez entrer une valeur avec une extension valide.",
            maxlength: $.validator.format("Veuillez ne pas entrer plus de {0} caractères."),
            minlength: $.validator.format("Veuillez entrer au moins {0} caractères."),
            rangelength: $.validator.format("Veuillez entrer entre {0} et {1} caractères."),
            range: $.validator.format("Veuillez entrer une valeur entre {0} et {1}."),
            max: $.validator.format("Veuillez entrer une valeur inférieure ou égale à {0}."),
            min: $.validator.format("Veuillez entrer une valeur supérieure ou égale à {0}.")
    });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->


  </div>
<div align="center">
<div class="fb-page" data-href="https://www.facebook.com/The-Hacking-Project-Marseille-2018958001716114/" data-tabs="timeline" data-width="500" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/The-Hacking-Project-Marseille-2018958001716114/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/The-Hacking-Project-Marseille-2018958001716114/">The Hacking Project Marseille</a></blockquote></div>
<!-- End page content -->
</div>
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right"><a href="../respect">Notre Charte</a> - Powered by <a href="https://www.w3schools.comhttps://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>
  </body>
</html>
