
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:40x;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <div align ="center"><img src="https://www.thehackingproject.org/assets/thp-logo-5f2f06c9444205a88123ca1de74646970e5a1dfb03698d02db33e5e62a60d6cd.png"/>
    <h1 class="w3-jumbo"><b>Respect de la vie privée</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>THP s'engage.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
        </div>
  </div>

  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">

<!--End mc_embed_signup-->
    <p>Politique de protection de la vie privée

La protection de votre vie privée sur Internet est une question importante pour Nous. Dans le cadre du fonctionnement du présent site, Nous rassemblons un certain nombre d’informations sur les utilisateurs. Nous voulons que vous connaissiez la nature de ces informations et l’utilisation que Nous en faisons.
Données collectées
<p>
Nous collectons deux principaux types d’informations auprès des utilisateurs : données personnelles (telles que les noms et adresses électroniques) ; et les données agrégées (informations sur le trafic sur le site ; par exemple, nombre d’utilisateurs connectés à ce site quotidiennement).
Données personnelles
</p><p>
Les données personnelles sont collectées lorsque les utilisateurs nous fournissent des informations, par exemple, lorsqu’ils s’abonnent à des lettres d’informations électroniques ou à d’autres services d’abonnement, répondent à des sondages, achètent des articles dans notre boutique en ligne et/ou s’inscrivent à des concours et à tout autre évènement promotionnel organisés par Nos soins. Lorsque vous vous inscrivez ou demandez des informations sur ce site, vous devez généralement nous transmettre vos nom, adresses électronique et postale, numéro de téléphone et informations de carte de crédit (uniquement si vous commandez des produits dans notre boutique en ligne), mais aussi créer un nom d’utilisateur et un mot de passe. D’autre part, si vous Nous adressez de la correspondance personnelle, comme des courriers électroniques ou postaux, nous pouvons les compiler dans un dossier qui vous sera consacré.
Données agrégées et informations d’utilisation
</p><p>
Les données agrégées, telles que les pages auxquelles les utilisateurs ont accédé et les informations qu’ils ont volontairement fournies, dans le cadre d’un sondage et/ou de leur inscription au site, sont collectées de différentes façons. Lors de l’utilisation de Notre site, Nous détectons aussi automatiquement certaines informations vous concernant. Ces informations comprennent l’URL d’où vous venez, celle vers laquelle vous allez, le navigateur que vous utilisez et votre adresse IP. Une adresse IP est un numéro qui est automatiquement attribué à votre ordinateur dès l’instant que vous surfez sur le Web. Les serveurs Web, ordinateurs qui « servent » les pages Web, identifient automatiquement votre ordinateur à l’aide de cette adresse IP et, lorsque vous voulez consulter une de Nos pages, nos serveurs enregistrent votre adresse IP. Nous ne faisons pas le lien entre les adresses IP et toute donnée personnelle identifiable. Ainsi, même si votre session est enregistrée, vous restez anonyme vis-à-vis de notre société.
Utilisation de cookies
</p><p>
Ce site utilise également des « cookies » afin de collecter des informations. Un cookie est un petit fichier de données que la plupart des sites Web enregistrent sur votre disque dur à des fins d’identification lorsque vous les visitez. Les cookies nous permettent de mesurer l’activité dans les différentes zones de ce site et d’améliorer sa praticité pour l’utilisateur, par exemple, en conservant son mot de passe et ses préférences, ce qui rend possible la visite de différentes parties de ce site sans avoir à se réenregistrer. Les cookies Nous fournissent aussi une mesure de l’activité du site. Aux vues de ces résultats, Nous apportons des améliorations et des mises à jour si nécessaires. Nous n’utilisons pas de cookies pour récupérer des informations sur votre ordinateur qui n’auraient pas été originellement envoyées dans un cookie. Remarque : exception faite d’informations personnelles que vous Nous auriez volontairement fournies (par ex. lors de votre inscription comme membre ou d’un concours). Nous n’utilisons aucune information transférée par les cookies à des fins promotionnelles ou marketing et aucune information n’est transmise à un tiers quel qu’il soit. Il est possible que nos annonceurs placent parfois des cookies, ce qui est courant dans l’industrie du Web. Ne contrôlant pas ces cookies, la Politique de protection de la vie privée ne s’applique pas à ces derniers.
</p><p>
La plupart des navigateurs sont initialement paramétrés pour accepter les cookies. Si vous préférez, vous pouvez configurer ceux que vous utilisez pour qu’ils les refusent ou pour qu’ils vous alertent lorsque des cookies sont envoyés. En revanche, dans ce cas, il se peut que certaines parties d’un site, telles que les pages réservées aux membres, la boutique et les zones de concours et de jeux ne fonctionnent pas correctement.
Utilisation de Nos informations collectées
</p><p>
Les informations d’utilisation ainsi que les données personnelles et agrégées Nous servent à remplir plusieurs objectifs. Par exemple, Nous collectons ces informations pour servir les commandes et remettre les prix gagnés, pour gérer les demandes et fournir des services d’information, suivre/vérifier la conformité avec nos politiques et les législations locales, de l’état et fédérales, et à des fins de feedback et de rédaction. Nous pouvons utiliser votre adresse électronique et, rarement, votre adresse postale ou votre numéro de téléphone pour vous contacter en cas de questions de facturation ou de problèmes avec le service client. Les données personnelles et agrégées servent aussi à : améliorer le contenu de la boutique, développer des activités d’administration du système, adapter le contenu et/ou la présentation de la boutique à chaque utilisateur, et signaler aux utilisateurs les mises à jour apportées à la boutique ou les offres promotionnelles ou les bonnes affaires qui pourraient les intéresser. Nous essayons toujours de vous proposer une possibilité de refuser ce service au moment où ces données vous sont demandées en ligne. Si, par la suite, vous ne voulez plus recevoir ces informations ou souhaitez vous désinscrire de toute autre demande ou distribution d’informations, vous pouvez également mettre à jour les données de votre compte dans la zone correspondante de ce site ou simplement répondre à tout courrier électronique qui vous est envoyé en écrivant « ME DÉSINCRIRE ») dans l’objet ou le corps du texte de votre courrier électronique de réponse. Nous pouvons également utiliser vos données et votre activité sur le site pour régler des différents, effectuer des dépannages et appliquer nos Conditions d’utilisation.
</p><p>

Nous ne vendons ni commercialisons ni louons ni transmettons de toute autre manière que ce soit vos données personnelles à un tiers sans votre accord préalable, Nos filiales, sociétés affiliées, détenteurs de Nos licences, partenaires, partenaires d’hébergement de Notre site Web ou toute autre partie qui Nous aide à faire fonctionner ce site n’étant pas considérés des tiers. Il est néanmoins possible que Nous partagions vos données sous un format agrégé, ainsi que des données d’utilisation agrégées, avec des tiers à des fins publicitaires et promotionnelles. De plus, Nous collaborons à toutes les enquêtes sur l’application de la législation et avec tous les tiers pour appliquer leurs droits de propriété intellectuelle ou tout autre droit juridique.
Liens vers d’autres sites</p><p>

Il est important de souligner que ce site peut proposer des liens vers d’autres sites, sites qui n’appliquent pas nécessairement Nos politiques de protection de la vie privée. Par exemple, en cliquant sur une publicité de la boutique, vous pouvez être redirigé vers un autre site totalement étranger. Cela inclut des liens vers des annonceurs, des revendeurs de cycles, des fournisseurs de contenu et des partenaires commerciaux qui utilisent Notre nom et/ou Nos logos dans le cadre d’un accord d’alliance de marques ou autre. Ces sites peuvent placer leurs propres cookies sur votre ordinateur et collecter des données pour en faire un usage que Nous Nous refuserions. Nous ne contrôlons pas ces sites ou leur utilisation et Nous en rejetons la responsabilité.
Sécurité</p><p>

La sécurité de toutes les informations personnellement identifiables qui sont associées à des utilisateurs de ce site est très importante pour Nous. Nous appliquons plusieurs mesures de sécurité afin de garantir la sécurité de vos données personnelles. Une fois votre transmission reçue, Nous Nous efforçons, dans la mesure du possible, d’assurer sa sécurité dans Nos systèmes. Si vous transmettez des informations concernant votre carte de crédit, Nous utilisons le protocole de cryptage SSL (Secure Socket Layer). Toute information bancaire que vous saisissez sur ce site est protégée par un mot de passe afin que vous soyez la seule personne à y avoir accès. Vous ne devez communiquer à personne votre mot de passe ou votre numéro d’identification utilisateur. Il est malheureusement impossible de garantir à 100 % la sécurité de la transmission de données par Internet. Ainsi, Nous vous encourageons à protéger vos données personnelles même si Nous ne pouvons pas vous assurer ou garantir la sécurité des informations que vous Nous transmettez, transmission que vous réalisez sous votre propre responsabilité.
Conditions d’utilisation</p><p>

Propriété ; Restrictions d’utilisation des matériaux L’ensemble du contenu de ce site, comprenant, mais sans s’y limiter, le texte, les graphiques ou code, relève de Notre propriété ou est protégé par une licence Nous appartenant. Nous nous réservons le droit d’apporter, à tout moment, des modifications au contenu du site sans avis préalable, y compris ce qui concerne Nos produits, équipements, caractéristiques techniques, modèles, couleurs et matériaux. Vous pouvez télécharger, visualiser et imprimer du texte et des graphiques de ce site à condition que ledit contenu ne soit utilisé qu’à titre informatif et non commercial et ne soit en aucune façon modifié ou remanié. Sauf condition contraire expressément précisée dans le présent document, vous n'êtes pas autorisé à utiliser, télécharger, copier, imprimer, afficher, exécuter, reproduire, publier, mettre sous licence, poster, transmettre ou distribuer toute information ou contenu de ce site en tout ou en partie sans Notre accord écrit préalable.</p>

  </div>


<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.comhttps://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>
  </body>
</html>
